body,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 0;
}
canvas {
  width: 100%;
  height: 100%;
  display: block;
}
button {
  position: relative;
  top: 35px;
  line-height: 20px;
}
.canvas-module {
  width: 100%;
  max-width: 1200px;
  min-height: 837px;
}
.switcher {
  position: absolute;
  top: 35px;
  max-width: 300px;
  width: 100%;
  min-width: 200px;
}
