body,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 0;
}
canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.canvas {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  min-height: 837px;
  &__main {
    position: relative;
  }
}
.btn-list {
  top: 20px;
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  .btn__inherit {
    display: block;
    min-width: 70px;
    height: 70px;
    max-width: 70px;
    width: 100%;
    border: 1px solid #dae3eb;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: white;
    cursor: pointer;
    z-index: 2;
    background-image: url("data:image/svg+xml,%3Csvg fill='none' height='30' viewBox='0 0 30 30' width='30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m14.9725.00002439c-4.0082.00719757-7.64749 1.58667561-10.3343 4.15433561l-2.16012-2.16012c-.91451-.91452-2.47808-.26686-2.47808 1.02641v8.10835c0 .8018.649899 1.4517 1.45161 1.4517h8.1084c1.29329 0 1.94089-1.5636 1.02649-2.4781l-2.52522-2.52522c1.86678-1.74792 4.28232-2.71615 6.84862-2.73829 5.5886-.04826 10.2993 4.47441 10.251 10.24851-.0458 5.4775-4.4866 10.0737-10.1609 10.0737-2.4875 0-4.8385-.8878-6.69134-2.5135-.28687-.2516-.72012-.2363-.99.0335l-2.39891 2.3989c-.29467.2947-.2801.7751.02916 1.0544 2.65983 2.4025 6.18459 3.8654 10.05109 3.8654 8.2842 0 14.9999-6.7157 15-14.9999 0-8.2747-6.7528-15.0148941-15.0275-15.00007561z' fill='%239badbe'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
  }
}
.switcher {
  position: absolute;
  margin-top: 30px;
  max-width: 300px;
  right: 40px;
  width: 100%;
  min-width: 200px;
  display: flex;
  height: 30px;

  &:before,
  &:after {
    content: '';
    position: absolute;

    bottom: 0;
    width: 100%;
    height: 3px;
    background: #eaeef4;
    box-shadow: inset 0px 0px 2px #cfddf1;
    border-radius: 2px;
  }
  &:after {
    width: 50%;
    background: #0088ff;
    transition: 0.2s ease;
  }
  &__cargo {
    &:after {
      transform: translateX(0);
    }
  }
  &__pallet {
    &:after {
      transform: translateX(100%);
    }
  }

  &-item {
    cursor: pointer;
    width: 50%;
    text-align: center;
    input {
      //its how to correct hide input - enjoy
      width: 1px;
      height: 1px;
      position: absolute;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      appearance: none;
    }
    label {
      display: block;
      cursor: pointer;
      color: #7d95aa;
      transition: 0.2s ease;
      p {
        display: inline-block;
        font-weight: 500;
        font-size: 16px;
        line-height: 14px;
      }

      .label-icon {
        transition: 0.2s ease;
        position: relative;
        top: 3px;
        left: -4px;
        display: inline-block;
        min-width: 17px;
        max-width: 17px;
        height: 17px;
        background-color: #7d95aa;
      }
    }
    &__cargo {
      .label-icon {
        mask: url("data:image/svg+xml,%3Csvg fill='none' height='14' viewBox='0 0 14 14' width='14' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23007aff'%3E%3Cpath d='m13 0h-12c-.265216 0-.51957.105357-.707107.292893-.187536.187537-.292893.441891-.292893.707107v12c0 .2652.105357.5196.292893.7071.187537.1875.441891.2929.707107.2929h12c.2652 0 .5196-.1054.7071-.2929s.2929-.4419.2929-.7071v-12c0-.265216-.1054-.51957-.2929-.707107-.1875-.187536-.4419-.292893-.7071-.292893zm-11.19375 4.59375 2-2.5c.02429-.02795.05429-.05036.08799-.06572.03369-.01536.07029-.02331.10732-.02331s.07363.00795.10733.02331c.03369.01536.0637.03777.08799.06572l2 2.5c.02936.03667.04779.08088.05319.12755.00539.04667-.00247.09392-.0227.13632-.02022.04241-.05199.07826-.09165.10344s-.08561.03868-.13259.03894h-1v3.5c0 .13261-.05268.25979-.14645.35355-.09377.09377-.22095.14645-.35355.14645h-1.00001c-.1326 0-.25978-.05268-.35355-.14645-.09377-.09376-.14645-.22094-.14645-.35355v-3.5h-1.00312c-.04698-.00026-.09294-.01376-.1326-.03894s-.07142-.06103-.09165-.10344c-.02022-.0424-.02809-.08965-.02269-.13632.00539-.04667.02383-.09088.05319-.12755zm10.19375 7.15625c0 .0663-.0263.1299-.0732.1768s-.1105.0732-.1768.0732h-9.5c-.0663 0-.12989-.0263-.17678-.0732-.04688-.0469-.07322-.1105-.07322-.1768v-.5c0-.0663.02634-.1299.07322-.1768.04689-.0469.11048-.0732.17678-.0732h9.5c.0663 0 .1299.0263.1768.0732s.0732.1105.0732.1768zm0-6.75h-1v3.5c0 .13261-.0527.25979-.1464.35355-.0938.09377-.221.14645-.3536.14645h-1c-.13261 0-.25979-.05268-.35355-.14645-.09377-.09376-.14645-.22094-.14645-.35355v-3.5h-1c-.04698-.00026-.09294-.01376-.1326-.03894s-.07142-.06103-.09165-.10344c-.02022-.0424-.02809-.08965-.02269-.13632.00539-.04667.02383-.09088.05319-.12755l2-2.5c.02429-.02795.05429-.05036.08799-.06572.03369-.01536.07029-.02331.10736-.02331.037 0 .0736.00795.1073.02331s.0637.03777.088.06572l2 2.5c.0289.03706.0468.08147.0518.1282.0049.04673-.0033.09391-.0238.1362s-.0524.07799-.0922.10306c-.0397.02507-.0857.03851-.1327.03879z' opacity='.4'/%3E%3Cpath d='m4.19694 2.09391c-.02429-.02795-.0543-.05036-.08799-.06572-.0337-.01536-.0703-.02331-.10733-.02331s-.07362.00795-.10732.02331c-.03369.01536-.0637.03777-.08799.06572l-2 2.5c-.02936.03668-.0478.08088-.05319.12755-.0054.04667.00247.09392.02269.13633.02023.0424.05199.07825.09165.10343.03967.02518.08562.03868.1326.03894h1.00313v3.5c0 .13261.05268.25979.14644.35356.09377.09376.22095.14644.35356.14644h1c.13261 0 .25978-.05268.35355-.14644.09377-.09377.14645-.22095.14645-.35356v-3.5h1c.04698-.00026.09293-.01376.13259-.03894.03967-.02518.07143-.06103.09166-.10343.02022-.04241.02808-.08966.02269-.13633s-.02383-.09087-.05319-.12755zm7.99996 2.5-2-2.5c-.0243-.02795-.0543-.05036-.088-.06572-.0336-.01536-.0702-.02331-.1073-.02331-.03701 0-.07361.00795-.1073.02331s-.0637.03777-.08799.06572l-2 2.5c-.02936.03668-.0478.08088-.05319.12755-.0054.04667.00247.09392.02269.13633.02023.0424.05199.07825.09165.10343.03967.02518.08562.03868.1326.03894h1v3.5c0 .13261.05268.25979.14645.35356.09377.09376.22094.14644.35355.14644h1.00004c.1326 0 .2597-.05268.3535-.14644.0938-.09377.1465-.22095.1465-.35356v-3.5h1c.047-.00028.0929-.01371.1327-.03879.0397-.02507.0716-.06077.0921-.10306.0205-.04228.0288-.08947.0238-.1362-.0049-.04673-.0229-.09114-.0518-.1282z'/%3E%3C/g%3E%3C/svg%3E")
          no-repeat center / contain;
        -webkit-mask: url("data:image/svg+xml,%3Csvg fill='none' height='14' viewBox='0 0 14 14' width='14' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23007aff'%3E%3Cpath d='m13 0h-12c-.265216 0-.51957.105357-.707107.292893-.187536.187537-.292893.441891-.292893.707107v12c0 .2652.105357.5196.292893.7071.187537.1875.441891.2929.707107.2929h12c.2652 0 .5196-.1054.7071-.2929s.2929-.4419.2929-.7071v-12c0-.265216-.1054-.51957-.2929-.707107-.1875-.187536-.4419-.292893-.7071-.292893zm-11.19375 4.59375 2-2.5c.02429-.02795.05429-.05036.08799-.06572.03369-.01536.07029-.02331.10732-.02331s.07363.00795.10733.02331c.03369.01536.0637.03777.08799.06572l2 2.5c.02936.03667.04779.08088.05319.12755.00539.04667-.00247.09392-.0227.13632-.02022.04241-.05199.07826-.09165.10344s-.08561.03868-.13259.03894h-1v3.5c0 .13261-.05268.25979-.14645.35355-.09377.09377-.22095.14645-.35355.14645h-1.00001c-.1326 0-.25978-.05268-.35355-.14645-.09377-.09376-.14645-.22094-.14645-.35355v-3.5h-1.00312c-.04698-.00026-.09294-.01376-.1326-.03894s-.07142-.06103-.09165-.10344c-.02022-.0424-.02809-.08965-.02269-.13632.00539-.04667.02383-.09088.05319-.12755zm10.19375 7.15625c0 .0663-.0263.1299-.0732.1768s-.1105.0732-.1768.0732h-9.5c-.0663 0-.12989-.0263-.17678-.0732-.04688-.0469-.07322-.1105-.07322-.1768v-.5c0-.0663.02634-.1299.07322-.1768.04689-.0469.11048-.0732.17678-.0732h9.5c.0663 0 .1299.0263.1768.0732s.0732.1105.0732.1768zm0-6.75h-1v3.5c0 .13261-.0527.25979-.1464.35355-.0938.09377-.221.14645-.3536.14645h-1c-.13261 0-.25979-.05268-.35355-.14645-.09377-.09376-.14645-.22094-.14645-.35355v-3.5h-1c-.04698-.00026-.09294-.01376-.1326-.03894s-.07142-.06103-.09165-.10344c-.02022-.0424-.02809-.08965-.02269-.13632.00539-.04667.02383-.09088.05319-.12755l2-2.5c.02429-.02795.05429-.05036.08799-.06572.03369-.01536.07029-.02331.10736-.02331.037 0 .0736.00795.1073.02331s.0637.03777.088.06572l2 2.5c.0289.03706.0468.08147.0518.1282.0049.04673-.0033.09391-.0238.1362s-.0524.07799-.0922.10306c-.0397.02507-.0857.03851-.1327.03879z' opacity='.4'/%3E%3Cpath d='m4.19694 2.09391c-.02429-.02795-.0543-.05036-.08799-.06572-.0337-.01536-.0703-.02331-.10733-.02331s-.07362.00795-.10732.02331c-.03369.01536-.0637.03777-.08799.06572l-2 2.5c-.02936.03668-.0478.08088-.05319.12755-.0054.04667.00247.09392.02269.13633.02023.0424.05199.07825.09165.10343.03967.02518.08562.03868.1326.03894h1.00313v3.5c0 .13261.05268.25979.14644.35356.09377.09376.22095.14644.35356.14644h1c.13261 0 .25978-.05268.35355-.14644.09377-.09377.14645-.22095.14645-.35356v-3.5h1c.04698-.00026.09293-.01376.13259-.03894.03967-.02518.07143-.06103.09166-.10343.02022-.04241.02808-.08966.02269-.13633s-.02383-.09087-.05319-.12755zm7.99996 2.5-2-2.5c-.0243-.02795-.0543-.05036-.088-.06572-.0336-.01536-.0702-.02331-.1073-.02331-.03701 0-.07361.00795-.1073.02331s-.0637.03777-.08799.06572l-2 2.5c-.02936.03668-.0478.08088-.05319.12755-.0054.04667.00247.09392.02269.13633.02023.0424.05199.07825.09165.10343.03967.02518.08562.03868.1326.03894h1v3.5c0 .13261.05268.25979.14645.35356.09377.09376.22094.14644.35355.14644h1.00004c.1326 0 .2597-.05268.3535-.14644.0938-.09377.1465-.22095.1465-.35356v-3.5h1c.047-.00028.0929-.01371.1327-.03879.0397-.02507.0716-.06077.0921-.10306.0205-.04228.0288-.08947.0238-.1362-.0049-.04673-.0229-.09114-.0518-.1282z'/%3E%3C/g%3E%3C/svg%3E")
          no-repeat center / contain;
      }
    }
    &__pallet {
      .label-icon {
        mask: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath opacity='0.4' d='M14.972 1.75H10.6943C10.5808 1.75 10.472 1.79609 10.3918 1.87814C10.3116 1.96019 10.2665 2.07147 10.2665 2.1875V6.5625C10.2665 6.67853 10.3116 6.78981 10.3918 6.87186C10.472 6.95391 10.5808 7 10.6943 7H14.972C15.0855 7 15.1943 6.95391 15.2745 6.87186C15.3548 6.78981 15.3998 6.67853 15.3998 6.5625V2.1875C15.3998 2.07147 15.3548 1.96019 15.2745 1.87814C15.1943 1.79609 15.0855 1.75 14.972 1.75ZM8.1276 0H2.13872C2.02526 0 1.91645 0.0460936 1.83623 0.128141C1.75601 0.210188 1.71094 0.321468 1.71094 0.4375V6.5625C1.71094 6.67853 1.75601 6.78981 1.83623 6.87186C1.91645 6.95391 2.02526 7 2.13872 7H8.1276C8.24106 7 8.34986 6.95391 8.43009 6.87186C8.51031 6.78981 8.55538 6.67853 8.55538 6.5625V0.4375C8.55538 0.321468 8.51031 0.210188 8.43009 0.128141C8.34986 0.0460936 8.24106 0 8.1276 0V0Z' fill='%237D95AA'/%3E%3Cpath d='M16.6833 10.5C16.7968 10.5 16.9056 10.4539 16.9858 10.3719C17.066 10.2898 17.1111 10.1785 17.1111 10.0625V9.1875C17.1111 9.07147 17.066 8.96019 16.9858 8.87814C16.9056 8.79609 16.7968 8.75 16.6833 8.75H0.427778C0.314324 8.75 0.205517 8.79609 0.125293 8.87814C0.0450693 8.96019 0 9.07147 0 9.1875L0 10.0625C0 10.1785 0.0450693 10.2898 0.125293 10.3719C0.205517 10.4539 0.314324 10.5 0.427778 10.5H1.71111V12.25H0.427778C0.314324 12.25 0.205517 12.2961 0.125293 12.3781C0.0450693 12.4602 0 12.5715 0 12.6875L0 13.5625C0 13.6785 0.0450693 13.7898 0.125293 13.8719C0.205517 13.9539 0.314324 14 0.427778 14H16.6833C16.7968 14 16.9056 13.9539 16.9858 13.8719C17.066 13.7898 17.1111 13.6785 17.1111 13.5625V12.6875C17.1111 12.5715 17.066 12.4602 16.9858 12.3781C16.9056 12.2961 16.7968 12.25 16.6833 12.25H15.4V10.5H16.6833ZM7.7 12.25H3.42222V10.5H7.7V12.25ZM13.6889 12.25H9.41111V10.5H13.6889V12.25Z' fill='%237D95AA'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='17.1111' height='14' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
          no-repeat center / contain;
        -webkit-mask: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath opacity='0.4' d='M14.972 1.75H10.6943C10.5808 1.75 10.472 1.79609 10.3918 1.87814C10.3116 1.96019 10.2665 2.07147 10.2665 2.1875V6.5625C10.2665 6.67853 10.3116 6.78981 10.3918 6.87186C10.472 6.95391 10.5808 7 10.6943 7H14.972C15.0855 7 15.1943 6.95391 15.2745 6.87186C15.3548 6.78981 15.3998 6.67853 15.3998 6.5625V2.1875C15.3998 2.07147 15.3548 1.96019 15.2745 1.87814C15.1943 1.79609 15.0855 1.75 14.972 1.75ZM8.1276 0H2.13872C2.02526 0 1.91645 0.0460936 1.83623 0.128141C1.75601 0.210188 1.71094 0.321468 1.71094 0.4375V6.5625C1.71094 6.67853 1.75601 6.78981 1.83623 6.87186C1.91645 6.95391 2.02526 7 2.13872 7H8.1276C8.24106 7 8.34986 6.95391 8.43009 6.87186C8.51031 6.78981 8.55538 6.67853 8.55538 6.5625V0.4375C8.55538 0.321468 8.51031 0.210188 8.43009 0.128141C8.34986 0.0460936 8.24106 0 8.1276 0V0Z' fill='%237D95AA'/%3E%3Cpath d='M16.6833 10.5C16.7968 10.5 16.9056 10.4539 16.9858 10.3719C17.066 10.2898 17.1111 10.1785 17.1111 10.0625V9.1875C17.1111 9.07147 17.066 8.96019 16.9858 8.87814C16.9056 8.79609 16.7968 8.75 16.6833 8.75H0.427778C0.314324 8.75 0.205517 8.79609 0.125293 8.87814C0.0450693 8.96019 0 9.07147 0 9.1875L0 10.0625C0 10.1785 0.0450693 10.2898 0.125293 10.3719C0.205517 10.4539 0.314324 10.5 0.427778 10.5H1.71111V12.25H0.427778C0.314324 12.25 0.205517 12.2961 0.125293 12.3781C0.0450693 12.4602 0 12.5715 0 12.6875L0 13.5625C0 13.6785 0.0450693 13.7898 0.125293 13.8719C0.205517 13.9539 0.314324 14 0.427778 14H16.6833C16.7968 14 16.9056 13.9539 16.9858 13.8719C17.066 13.7898 17.1111 13.6785 17.1111 13.5625V12.6875C17.1111 12.5715 17.066 12.4602 16.9858 12.3781C16.9056 12.2961 16.7968 12.25 16.6833 12.25H15.4V10.5H16.6833ZM7.7 12.25H3.42222V10.5H7.7V12.25ZM13.6889 12.25H9.41111V10.5H13.6889V12.25Z' fill='%237D95AA'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='17.1111' height='14' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
          no-repeat center / contain;
      }
    }
  }
  &__disabled {
    .switcher-item {
      cursor: not-allowed;
      label {
        cursor: not-allowed;
      }
    }
  }
  .active {
    label {
      transition: 0.2s ease;
      color: #0088ff;
      transition: 0.2s ease;
      .label-icon {
        transition: 0.2s ease;
        background-color: #0088ff;
      }
    }
  }
}
