body,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 0;
}
canvas {
  width: 100%;
  height: 100%;
  display: block;
}
button {
  position: relative;
  top: 35px;
  line-height: 20px;
}
.canvas {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  min-height: 837px;
  &__main {
  }
}

.switcher {
  position: absolute;
  top: 35px;
  max-width: 300px;
  width: 100%;
  min-width: 200px;
  display: flex;
  &:before,
  &:after {
    content: '';
    position: absolute;

    bottom: -10px;
    width: 100%;
    height: 3px;
    background: #eaeef4;
    box-shadow: inset 0px 0px 2px #cfddf1;
    border-radius: 2px;
  }
  &:after {
    width: 50%;
    //background: #0088ff;
    transform: translateX(0);
    transition: 0.2s ease;
  }
  &__cargo {
    &:after {
      transform: translateX(100%);
    }
  }
  &__pallet {
    &:after {
      transform: translateX(100%);
    }
  }

  &-item {
    width: 50%;
    text-align: center;
    input {
      //its how to correct hide input - enjoy
      width: 1px;
      height: 1px;
      position: absolute;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      appearance: none;
    }
    label {
      color: #7d95aa;
      transition: 0.2s ease;
    }
  }
  .active {
    label {
      color: #0088ff;
      transition: 0.2s ease;
    }
  }
}

.btn__inherit {
  display: block;
  min-width: 70px;
  height: 70px;
  max-width: 70px;
  width: 100%;
  border: 1px solid #dae3eb;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: white;
  cursor: pointer;
  z-index: 2;
  background-image: url("data:image/svg+xml,%3Csvg fill='none' height='30' viewBox='0 0 30 30' width='30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m14.9725.00002439c-4.0082.00719757-7.64749 1.58667561-10.3343 4.15433561l-2.16012-2.16012c-.91451-.91452-2.47808-.26686-2.47808 1.02641v8.10835c0 .8018.649899 1.4517 1.45161 1.4517h8.1084c1.29329 0 1.94089-1.5636 1.02649-2.4781l-2.52522-2.52522c1.86678-1.74792 4.28232-2.71615 6.84862-2.73829 5.5886-.04826 10.2993 4.47441 10.251 10.24851-.0458 5.4775-4.4866 10.0737-10.1609 10.0737-2.4875 0-4.8385-.8878-6.69134-2.5135-.28687-.2516-.72012-.2363-.99.0335l-2.39891 2.3989c-.29467.2947-.2801.7751.02916 1.0544 2.65983 2.4025 6.18459 3.8654 10.05109 3.8654 8.2842 0 14.9999-6.7157 15-14.9999 0-8.2747-6.7528-15.0148941-15.0275-15.00007561z' fill='%239badbe'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}
